@* @model List<IK.ENTITIES.Models.AppUser> *@
@* @model IK.MVCUI.Areas.Admin.Models.PageVms.EmployeePageVm *@
@model List<IK.ENTITIES.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}

<h2>Çalışanlar</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Yeni Çalışan Ekle</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Departman</th>
            <th>Pozisyon</th>
            <th>Branch</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.FirstName @emp.LastName</td>
                <td>@emp.Email</td>
                <td>@emp.Departmant?.DepartmantName</td>
                <td>@emp.Position?.PositionName</td>
                <td>@emp.Branch?.BranchName</td>
                @*  <td>@(emp.IsActive ? "Aktif" : "Pasif")</td> *@
                <td>
                    <a asp-action="Update" asp-route-id="@emp.Id" class="btn btn-warning btn-sm">Güncelle</a>
                    <a asp-action="Pacify" asp-route-id="@emp.Id" class="btn btn-danger btn-sm">Pasife Çek</a>
                </td>
            </tr>
        }
    </tbody>
</table>

