@model EmployeeUpdatePageVm

@{
    ViewData["Title"] = "Çalışanı Güncelle";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<form method="post" asp-route-id="@Model.Id">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Ad</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Soyad</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Telefon</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Maaş</label>
        <input asp-for="Salary" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Departman</label>
        <select asp-for="DepartmanId" asp-items="@(new SelectList(Model.Departmants, "Id", "DepartmantName"))" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label>Pozisyon</label>
        <select asp-for="PositionId" asp-items="@(new SelectList(Model.Positions, "Id", "PositionName"))" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label>Şube</label>
        <select asp-for="BranchId" asp-items="@(new SelectList(Model.Branches, "Id", "BranchName"))" class="form-select"></select>
    </div>

    <button class="btn btn-primary">Kaydet</button>
</form>
