@model List<IK.ENTITIES.Models.Payroll>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Bordro Listesi</h2>

    <a asp-area="Admin"
       asp-controller="Payroll"
       asp-action="Create"
       class="btn btn-primary">
        Yeni Bordro Oluştur
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Period</th>
            <th>Hours</th>
            <th>Gross</th>
            <th>Net</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee?.FirstName @item.Employee?.LastName</td>
                <td>@item.Period</td>
                <td>@item.TotalHours</td>
                <td>@item.GrossSalary</td>
                <td>@item.NetSalary</td>
                <td>
                    <a asp-action="Cancel" asp-route-id="@item.Id"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Bordro iptal edilsin mi?')">
                        İptal Et
                    </a>
               
                </td>
            </tr>
        }
    </tbody>
</table>
