@model List<HomePageVm>
@{
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
<h2>Admin Dashboard</h2>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                Toplam Aktif Şube Sayısı

               <h3>@ViewBag.TotalBranches</h3>
                
            </div>

            <div class="card-footer d-flex align-items-center justify-content-between">
                <a asp-controller="Branch" asp-action="Index" class="small text-white stretched-link">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                Toplam Çalışan Sayısı

                <h3>@ViewBag.TotalEmployees</h3>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a asp-controller="Employee" asp-action="Index" class="small text-white stretched-link">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                Toplam Aktif Departman Sayısı

                <h3>@ViewBag.TotalDepartmants</h3>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a asp-controller="Departmant" asp-action="Index" class="small text-white stretched-link">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">
                En düşük fiyatlı ürün

                <h3>0</h3>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Branch</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Branch</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.PositionName</td>
                            <td>@item.BranchName</td>
                            <td>@item.Age</td>
                            <td>@item.StartedDate.ToString("dd.MM.yyyy")</td>
                            <td>@item.Salary.ToString("C")</td>@* C para formatına sokmasını sağlıyor *@
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
